version: '3'
services:
  # aus-runner:
  #   build: 
  #     context: .
  #     dockerfile: Dockerfile.runner
  #     args:
  #       - API_URL=http://auspost-api.localhost:4000
  #       - API_TOKEN=test
  #       - DIGITAL_API=https://digitalapi.auspost.com.au
  #       - API_KEY=https://digitalapi.auspost.com.au
  aus-frontend:
    build: 
      context: .
      dockerfile: Dockerfile.frontend
      args:
        # Define auspost-api.localhost as 127.0.0.1 in /etc/host
        - API_URL=http://auspost-api.localhost:4000
    ports:
      - '80:5000'
    networks:
      - auspohzt
  aus-api:
    build: 
      context: .
      dockerfile: Dockerfile.api
    ports:
      - '4000:4000'
    depends_on:
      - aus-db
    environment:
      - ENABLE_AUTH=false
      - AUTH_COOKIE_NAME=bogan-auth
      - HMAC_SECRET=correct battery horse staple
      - API_URL=http://auspost-api.localhost:4000
      - API_TOKEN=
      - WEB_PASSWORD=test password
      - DIGITAL_API=
      - API_KEY=
      - PORT=4000
      - PG_HOST=aus-db
      - PG_PORT=5432
      - PG_USER=bogan
      - PG_PASSWORD=123
      - PG_DATABASE=auspohzt
    networks:
      - auspohzt
  aus-db:
    image: postgres
    restart: always
    ports:
      - '5432:5432'
    environment:
      - POSTGRES_USER=bogan
      - POSTGRES_PASSWORD=123
      - POSTGRES_DB=auspohzt
    networks:
      - auspohzt
    volumes:
      - dbdata:/var/lib/postgresql/data
      - ./backend/database/createDatabase.sql:/docker-entrypoint-initdb.d/init.sql:ro
  # aus-metabase:
  #   image: metabase/metabase:latest
  #   depends_on:
  #     - aus-db
  #   restart: always
  #   ports:
  #     - 8080:8080
  #   networks:
  #     - auspohzt
networks:
  auspohzt:
volumes:
  dbdata: