* {
    /* font-family: 'Roboto', sans-serif; */
    font-family: monospace;
}

html {
    font-size: 12px;
}

/* Set elements that define their own font-size to inherit instead*/
button,
input,
select,
textarea {
    font-size: inherit;
}

input[type="checkbox"] {
    width: 1rem;
    height: 1rem;
}