.Box {
    background-color: var(--BACKGROUND);
    border: 0.1rem solid var(--TEXT);
}

.Box>[data-box-header] {
    padding: 0.25rem;
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 0.1rem solid var(--TEXT);
    cursor: pointer;
}

.Box>[data-box-header]>h3 {
    margin-block: 0;
}

.Box [data-box-body] {
    margin: 1rem;
    border: 1px solid pink;
}